.profile {
    display: inline-block;
    width: 800px;
    text-align: center;
}
.form {
    padding: 20px;
}

h3 {
    padding-top: 20px;
    text-align: center;
}

.avatar {
    display: inline-block;
    align-items: center;
}
.form_button {
    padding-bottom: 30px;
}
.form_button .MuiButton-root {
    margin-right: 40px;
    margin-left: 40px;
}
#file_field {
    font-size: small;
    width: 250px;
}
